<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">   
    <script src="{% static 'app/js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'app/js/popper.min.js'%}"></script>
    <script src="{% static 'app/js/bootstrap.min.js'%}"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/bootstrap/bootstrap.min.css' %}">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/produto.css' %}">
    <!-- Favicon -->
    <link rel="icon" href="{% static 'app/img/icn.png' %}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    

    <title>GG Parafusos-Peças - Lista de Saidas de Produtos</title>

</head>
<body>
    <header>
        {% include "app/header.html"  %}
    </header>
    <main role="main">

        <section class="text-center" style="padding-left: 15px; padding-right:15px">
          <div class="page-header">
            <h1>Lista de Saídas de Produtos</h1>
            {% if user.is_superuser %}
            <span class=""><a href="{% url 'estoque_saida_add' %}"><button type="button" class="btn btn-dark"><span class="fa fa-plus"></span> Adicionar</button></a></span>
            {% endif %}
          </div>
          <div><br></div>
            <div class="">
            <form action="." method="GET">
                <div class="">
                  <input value="" type="text" id="search" name="search" placeholder="Buscar Data" class="form-control"></input>
                </div>
                <div class="text-right">
                  <input type="submit" class="btn btn-dark" value="Buscar" style="margin-top: -66px"></input>
                </div>
                </form>
                {% if object_list %}
                <div style="flex: 1; overflow: auto;">
                <table id="tabela" class="tabela table-striped">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Produtos/Quantidade</th>
                        <th>Data</th>
                        <th>Funcionario</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for object in object_list %}
                        <tr>
                          <td><a href="{{ object.get_absolute_url }}">{{ object.id }}</a></td>
                          <td>
                          {% for obj in object.estoques.all %}
	            		          <ul class="list-unstyled" style="margin: 0px;">
	            			          <li>• {{ obj.produto }} => {{obj.quantidade}}</li>
                            </ul>

                          {% endfor %}
                          </td>
                          <td>{{ object.created }}</span></td>
                          <td>{{ object.usuario.username }}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  </div>
                {% else %}
                  <p class="alert alert-danger">Sem itens na lista.</p>
                {% endif %}
            </div>
          {% include "app/paginacao.html"  %}
          <br>
          <br>
          <div style="margin: auto; width: 50%; padding: 10px;">
            <h4>Valor Total dos Produtos Vendidos: <span class="btn btn-success" style="font-size: 20px">R$ <span id="resultado">{{ total }}</span></span></h4>
          </div>
          </section>
    </main>
    <!-- 
        resultado = 0
        $(".quantidade").each(function(i){
          a = $(this).text()
          $(".preco").each(function(index){
            if(i == index){
              b = $(this).text().replaceAll(",", ".")
              multi = a * b
              resultado = resultado + multi
            }
          })
        })-->
    <script>
      $( document ).ready(function() {
        a = $("#resultado").text()
        a = $("#resultado").text().replace(",", ".")
        a = parseFloat(a)
        $("#resultado").text(a.toLocaleString('pt-BR', {
          // Ajustando casas decimais
          minimumFractionDigits: 2,  
          maximumFractionDigits: 2
        }))
      });
    </script> 
    
  </body>

</html>