<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/bootstrap/bootstrap.min.css' %}">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/produto.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/estoque_form.css' %}">
    <!-- Favicon -->
    <link rel="icon" href="{% static 'app/img/icn.png' %}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Select2 -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{% static 'app/js/popper.min.js'%}"></script>
    <script src="{% static 'app/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'app/js/scripts/estoque_saida_form.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    {% load widget_tweaks %} {% load bootstrap %}


    <title>GG Parafusos-Peças - Saida de Produtos</title>

</head>

<body>

    <header>
        {% include "app/header.html"  %}
    </header>

        <section class="text-center">
            <div class="row">
                <div class="cols">
                    <form method="POST" novalidate>
                        {% csrf_token %}
                        <legend style="border-bottom: 1px solid #e5e5e5;">Estoque Saída</legend>
                        <div class="row">
                            <div class="col-sm-6">
                                {% for field in form.visible_fields %}
                                <div class="form-group{% if field.errors %} has-error {% endif%}">
                                    <label for="{{ field.id_for_label }}">
                      {% if field.field.required %}
                        <span class="required">{{ field.label }} </span>
                      {% else %}
                        {{ field.label }}
                      {% endif %}
                    </label> {% render_field field class="form-control" %} {% for error in field.errors %}
                                    <span class="text-muted">{{ error }}</span> {% endfor %}
                                </div>
                                {% endfor %} {{ formset.management_form }}
                            </div>
                        </div>

                        <div class="row">
                            <legend style="border-bottom: 1px solid #e5e5e5;">Produtos <span id="add-item" class="btn btn-dark" style="margin-bottom: 5px; font-size: 0.8rem;">
                    <i class="fa fa-plus"></i>
                  </span></legend>
                            <div class="col-sm-12">
                                <div id="estoque" class="form-inline">
                                    {% for item_estoque_form in formset %}
                                    <div id="item-{{ forloop.counter0 }}" class="form-group" style="flex-wrap: wrap; justify-content: center; /* flex-direction: column; */ text-align: center;">
                                        {{ item_estoque_form|bootstrap }} <br>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="row float-right">
                            <div class="col-sm-12" style="margin-top: 10px;">
                                <p></p>
                            </div>
                        </div>

                        <div class="row float-right">
                            <div class="col-sm-12" style="margin-top: 10px;">
                                <div class="form-inline buttons">
                                    <button class="btn btn-dark" value="Save" id="salvar">
                    <i class="fa fa-floppy-o"></i>
                    Salvar
                  </button>
                                    <a href="{% url 'estoque_saida' %}" class="btn btn-danger">
                                        <i class="fa fa-times"></i> Cancelar
                                    </a>
                                </div>
                            </div>
                        </div>

                        <p id="user">{{ user.username }}</p>

                    </form>
                </div>
            </div>
        </section>

        <script type="text/html" id="item-estoque">
            <div id="item-__prefix__" class="form-group" style="flex-wrap: wrap; justify-content: center; /* flex-direction: column; */ text-align: center;">
                {{ formset.empty_form|bootstrap }}
            </div>
        </script>
    </body>
</html>