<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/bootstrap/bootstrap.min.css' %}">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/produto.css' %}">
    <!-- Favicon -->
    <link rel="icon" href="{% static 'app/img/icn.png' %}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    

    <title>GG Parafusos-Peças - {{ object }}</title>

</head>
<body>

    <header>
        {% include "app/header.html"  %}
    </header>
        <section class="text-center">
            <div class="container">
            <h1>{{ object }}</h1>
                <!--
                <span class=""><a href="#"><button type="button" class="btn btn-dark"><span class="fa fa-pencil"></span> Editar</button></a></span>
                <span class=""><a href="#"><button type="button" class="btn btn-danger"><span class="fa fa-trash"></span> Apagar</button></a></span>
                -->
                <br>
                <br>
                <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <th class="">NF</th>
                        <td>
                          {{ object.nf_formated }}
                        </td>
                      </tr>
                      <tr>
                        <th class="">Data</th>
                        <td>{{ object.created }}</td>
                      </tr>
                      <tr>
                        <th class="">Usuário</th>
                        <td>{{ object.usuario.username }}</td>
                      </tr>                      
                    </tbody>
                  </table>
            </div>            
        </section>
        <div class="container">
            	<table class="table table-striped">
	            	<thead>
	            		<tr>
	            			<th>Produto</th>
	            			<th>Quantidade</th>
	            			<th>Saldo</th>
	            		</tr>
	            	</thead>
	            	<tbody>
	            		{% for obj in object.estoques.all %}
	            		<tr>
	            			<td>{{ obj.produto }}</td>
	            			<td>{{ obj.quantidade }}</td>
	            			<td>{{ obj.saldo }}</td>
	            		</tr>
	            		{% endfor %}
	            	</tbody>
	            </table>
            </div>
        
        <footer class="text-muted">
            <div class="container">
                <p class="float-right">
                    <a href="#">Back to top</a>
                </p>
            </div>
        </footer>
    
        <script src="{% static 'app/js/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'app/js/popper.min.js'%}"></script>
        <script src="{% static 'app/js/bootstrap.min.js'%}"></script>
    </body>
</html>