{% load static %}
<nav style="display: flex;" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'products' %}"><img src="{% static 'app/img/icn.png' %}" alt="some text" width=65 height=45>Parafusos-Peças</a>
    </div>               
</nav>

<nav class="site-header navbar navbar-expand-lg mini-nav" style="display: flex; flex-flow: row wrap; justify-content: flex-end;">
        <div class="container d-flex flex-column flex-md-row justify-content-between">        
        <!--<a class="py-2 d-none d-md-inline-block" href="{% url 'home' %}">Home</a>-->
        <a class="nav-item nav-link" href="{% url 'products' %}">Produtos</a>
        <a class="nav-item nav-link" href="{% url 'estoque_entrada' %}">Entrada de Produtos</a>
        <a class="nav-item nav-link" href="{% url 'estoque_saida' %}">Saída de Produtos</a>
        {% if user.is_authenticated %}
        <div class="dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Olá, {{ user.first_name}} {{ user.last_name}}!</a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="margin: 0px;">
                {% if user.is_superuser %}<a class="dropdown-item" href="{% url 'users' %}" style="color: black;">Lista de Usuários</a>{% endif %}
                {% if user.is_superuser %}<a class="dropdown-item" href="{% url 'usuario_registrar' %}" style="color: black;">Registrar Usuário</a>{% endif %}
                <a class="dropdown-item" href="/usuario/password" style="color: black;">Mudar Senha</a>
                <a class="dropdown-item" href="/usuario/{{user.id}}" style="color: black;">Perfil</a>
                <a class="dropdown-item" href="{% url 'logout' %}" style="color: black;">Log out</a>
            </div>
        </div>
        {% endif %}
        </div>
    </div>
</nav>

