<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'app/css/bootstrap/bootstrap.min.css' %}">
        <link rel="icon" href="{% static 'app/img/icn.png' %}">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Select2 -->
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="{% static 'app/css/produto.css' %}">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="{% static 'app/js/popper.min.js'%}"></script>
        <script src="{% static 'app/js/bootstrap.min.js'%}"></script>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'app/css/pagina_usuario.css' %}">
        
        <title>GG Parafusos-Peças - Saida de Produtos</title>

    </head>
    <body>
        <header>
            {% include "app/header.html"  %}
        </header>
        <div class="container">
            <div class="main-body">
                <div class="row gutters-sm" style="
                    margin-top: 15px;
                    ">
                    {% comment %} <div class="col-md-4 mb-3" style="
                        height: 100%;
                        ">
                        <div class="card" style="">
                        <div class="card-body" style="">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="/media/{{page_user.profile.foto}}" alt="" class="" width="150" style="">
                                <div class="mt-3">
                                    <h4>{{page_user.username}}</h4>
                                    <p class="text-secondary mb-1">{{page_user.profile.cargo}}</p>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div> {% endcomment %}
                    <div class="col-md-12" style="
                        height: 100%;
                            position: inherit;
                        ">
                        <div class="card" style="
                        height: 100%; margin-bottom: 15px;
                        ">
                        <div class="card-body" style="
                            ">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Nome Completo</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                   {{page_user.first_name}} {{page_user.last_name}}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Usuario</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{page_user.username}}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                            {% if page_user.email %}
                                <div class="col-sm-9 text-secondary">
                                    {{page_user.email}}
                                </div>
                            {% else %}
                                <div class="col-sm-9 text-secondary">
                                    -
                                </div>
                            {% endif %}
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Ultimo Login</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{page_user.last_login}}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Data de Criação</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{page_user.date_joined}}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Super Usuário</h6>
                                </div>
                                {% if page_user.is_superuser %}
                                <div class="col-sm-9 text-secondary">
                                    Sim
                                </div>
                            {% else %}
                                <div class="col-sm-9 text-secondary">
                                    Não
                                </div>
                            {% endif %}
                            </div>
                        </div>
                        </div>
                    </div>
                    {% if page_user.is_superuser %}
                    <div class="col-md-12" style="margin-bottom: 15px;">
                    <div class="card" style="height: 100%;  position: initial;">
                        <div class="card-body" style="text-align: center;">
                        <h2>Saídas do Usuário</h2>
                         {% if saida %}
                        <table class="tabela table-striped" style="text-align: center;">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>NF</th>
                        <th>Data</th>
                        <th>Funcionario</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for object in saida %}
                        <tr>
                          <td>{{ object.id }}</td>
                          <td><a href="/estoque/saida/{{object.id}}/">{{ object.nf_formated }}</a></td>
                          <td>{{ object.created }}</span></td>
                          <td>{{ object.usuario.username }}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                {% else %}
                    <hr>
                  <p class="alert alert-danger">Sem itens na lista.</p>
                {% endif %}
                        </div>
                    </div>
                    </div><div class="col-md-12" style="
                        height: 100%;
                        ">
                    <div class="card" style="height: 100%; position: initial;">
                        <div class="card-body" style="text-align: center;">
                        <h2>Entradas do Usuário</h2>
                         {% if entrada %}
                        <table class="tabela table-striped" style="text-align: center;">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>NF</th>
                        <th>Data</th>
                        <th>Funcionario</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for object in entrada %}
                        <tr>
                          <td>{{ object.id }}</td>
                          <td><a href="/estoque/entrada/{{object.id}}/">{{ object.nf_formated }}</a></td>
                          <td>{{ object.created }}</span></td>
                          <td>{{ object.usuario.username }}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                {% else %}
                <hr>
                  <p class="alert alert-danger">Sem itens na lista.</p>
                {% endif %}
                        </div>
                    </div>
                    </div>
                </div>
            {% endif %}
            </div>            
        </div>
    <body>
</html>