<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/bootstrap/bootstrap.min.css' %}">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/produto.css' %}">
    <!-- Favicon -->
    <link rel="icon" href="{% static 'app/img/icn.png' %}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    

    <title>GG Parafusos-Peças - {{ object }}</title>

</head>
<body>

    <header>
        {% include "app/header.html"  %}
    </header>

        <section class="text-center" style="padding-left: 15px; padding-right:15px">
            <div class="container">
            <h1>{{ object }}</h1>
                <span class=""><a href="/products/register/?id={{ object.id }}"><button type="button" class="btn btn-dark"><span class="fa fa-pencil"></span> Editar</button></a></span>
                <span class=""><a href="/products/delete/{{ object.id }}"><button type="button" class="btn btn-danger"><span class="fa fa-trash"></span> Apagar</button></a></span>
                <br>
                <br>
                <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <th class="">Marca</th>
                        <td>{{ object.marca }}</td>
                      </tr>
                      <tr>
                        <th class="">Preço</th>
                        <td>R$ {{ object.preco }}</td>
                      </tr>
                      <tr>
                        <th class="">Quantidade</th>
                        <td>{{ object.quantidade }}</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </section>
        
        <footer class="text-muted">
            <div class="container">
                <p class="float-right">
                    <a href="#">Back to top</a>
                </p>
            </div>
        </footer>
    
        <script src="{% static 'app/js/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'app/js/popper.min.js'%}"></script>
        <script src="{% static 'app/js/bootstrap.min.js'%}"></script>
  </body>
</html>