<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/bootstrap/bootstrap.min.css' %}">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/produto.css' %}">
    <!-- Favicon -->
    <link rel="icon" href="{% static 'app/img/icn.png' %}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{% static 'app/js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'app/js/popper.min.js'%}"></script>
    <script src="{% static 'app/js/bootstrap.min.js'%}"></script>
    <script>
      $(document).ready(function(){
        a = $("#preco").val().replace(",", ".")
        $("#preco").val(a)
      })

      function valor(){
        console.log("a")
      }

      function validate(evt) {
        var theEvent = evt || window.event;

        // Handle paste
        if (theEvent.type === 'paste') {
            key = event.clipboardData.getData('text/plain');
        } else {
        // Handle key press
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
        }
        var regex = /[0-9]|\./;
        if( !regex.test(key) ) {
          theEvent.returnValue = false;
          if(theEvent.preventDefault) theEvent.preventDefault();
        }
      }
    </script>
    

    <title>GG Parafusos-Peças - {% if produto %}Alterar Produto{% else %}Cadastrar Produto{% endif %}</title>

</head>
<body>

    <header>
        {% include "app/header.html"  %}
    </header>

        <section class="container text-center">
        {% if produto %}
            <h1>Alterar Produto</h1>
        {% else %}
            <h1>Cadastrar Produto</h1>
        {% endif %}
            <br>
            <form enctype="multipart/form-data" action="submit", method="POST">
              {% csrf_token %}
              <div class="container">
                <input type="number" class="form-control" name="produto_id" value="{{ produto.id }}" hidden>
                <div class="form-group">
                  <div class="form-group">
                    <h4><label for="nome">Nome</label></h4>
                    <input type="text" class="form-control" name="nome" value="{{ produto.nome }}" required>
                </div>
                <div class="form-group">
                  <h4><label for="nome">Código</label></h4>
                  <input type="number" class="form-control" name="codigo" value="{{ produto.codigo }}">
                </div>
                <div class="form-group">
                  <h4><label for="nome">Marca</label></h4>
                  <input type="text" class="form-control" name="marca" value="{{ produto.marca }}">
                </div>
                  <div class="form-group">
                    <h4><label for="nome">Quantidade</label></h4>
                      <input type="number" class="form-control" name="quantidade" value="{{ produto.quantidade }}" required>
                  </div>
                  <div class="form-group">
                    <h4><label for="nome">Preço:</label></h4>
                      <input type="text" step="any" class="form-control" id="preco" name="preco" onkeypress='validate(event)' value="{{ produto.preco }}" required>
                  <small class="form-text text-muted">Use "." (ponto) em vez de "," (virgula) para definir as casa decimais. Esse campo deve ter no máximo 2 casas decimais</small>
                  <small class="form-text text-muted"></small>
                  </div>
                  <br>
                  <button type="submit" class="btn btn-dark">
                      {% if produto %}
                          Alterar
                      {% else %}
                          Cadastrar
                      {% endif %}
                  </button>
              </div>
            </form>
        </section>

  </body>
</html>