.row {
    justify-content: center;
    align-items: center;
}

.jumbotron {
    padding-top: 0rem;
    padding-bottom: 0rem;
}


.form-inline {
    justify-content: center;
    align-items: center;
    display: block;
    max-width: 930px;
}

.help-block {
    color: red;
}

.checkbox {
    margin: 10px;
}

.quebra{
    display: block;
}
