.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    margin-right: 50rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    }

.container {
    max-width: 960px;
}

.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
    color: #999;
    transition: ease-in-out color .15s;
}

.site-header a:hover {
    color: #fff;
    text-decoration: none;
}

.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
}

@media (min-width: 768px) {
    .jumbotron {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron h1 {
    font-size: 2.5rem;
    margin-top: -75px;
    margin-bottom: 15px;
}

.jumbotron .container {
    max-width: 40rem;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

.card-img-top {
    width: 308px;
    height: 308px;
    object-fit: contain;
}

.ok{
    color:green;
}

.no{
    color: red;
}

.mini-nav{
    background-color: #c82333;
    padding: inherit;
}

.mini-nav a{
    color: white
}

.pagination{
    float: right;
}

.page-link{
    color: white;
    background-color: #23272b;
}

.dropdown-item{
    z-index: 200;
}

#element{
  display: block;
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index:0;
}

.tabela{
    width: 100%;
    border: solid 1px #d8d8d8
}

.tabela tr{
    border: solid 1px #d8d8d8
}

.tabela td{
    height: 41px;
}

.tabela th{
    height: 41px;
}

.row{
    margin-right: 0px;
    margin-left: 0px;
}